input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: 100%;
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
}

p {
    margin: 0;
}

.bendahara__container,
.bendahara-transaksi__container,
.bendahara-detail__container,
.bendahara-edit__container,
.publikasi-new__container,
.anggota__container,
.anggota-new__container,
.anggota-edit__container,
.absen__container,
.barang__container,
.peminjaman__container,
.peminjaman-new__container,
.pengumuman__container,
.pengumuman-new__container,
.notulen__container,
.notulen-new__container,
.lpj__container,
.lpj-new__container,
.lpj-edit__container,
.admin__container,
.publikasi__container {
    width: 100%;
    background: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.publikasi-detail__container,
.anggota-detail__container,
.absen-new__container,
.barang-new__container,
.barang-edit__container,
.peminjaman-detail__container,
.notulen-detail__container,
.publikasi-edit__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.publikasi-detail__card,
.anggota-detail__card,
.absen-new__card,
.barang-new__card,
.barang-edit__card,
.peminjaman-detail__card,
.notulen-detail__card,
.publikasi-edit__card {
    width: 800px;
    border-radius: 10px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #000000;
    margin-bottom: 20px;
}

.bendahara__button,
.bendahara-transaksi__button,
.anggota__head,
.absen__head,
.barang__head,
.peminjaman__head,
.pengumuman__head,
.notulen__head,
.lpj__head,
.admin__head {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.button-primary {
    padding: 5px 10px 5px 10px;
    background-color: #007bff;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
    border: none;
}

.table-button-secondary {
    padding: 3px 8px 3px 8px;
    background-color: #6c757d;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
    border: none;
}

.button-primary-full {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #007bff;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.button-success-full {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #28a745;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.button-secondary-full {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6c757d;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.table-button-danger {
    padding: 3px 8px 3px 8px;
    background-color: #dc3545;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
    border: none;
}

.table-button-success {
    padding: 3px 8px 3px 8px;
    background-color: #28a745;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
    border: none;
}

.table-button-info {
    background-color: #17a2b8;
    padding: 3px 8px 3px 8px;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
    border: none;
}

.button-success {
    background-color: #28a745;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: white;
    border: none;
    margin-right: 10px;
}

.button-secondary {
    background-color: #6c757d;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: white;
    border: none;
    margin-right: 10px;
}

.button-primary:hover,
.button-primary-full:hover,
.button-secondary:hover,
.button-secondary-full:hover,
.button-success:hover,
.button-success-full:hover,
.table-button-danger:hover,
.table-button-secondary:hover,
.table-button-success:hover,
.table-button-info:hover {
    opacity: 80%;
    color: white;
    text-decoration: none;
}

.input-text {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid #000000;
}

.input-select {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid #000000;
    cursor: pointer;
    text-transform: capitalize;
}

.input-number {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    appearance: none;
}

.input-date {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid #000000;
    position: relative;
}

.bendahara-transaksi__rp {
    padding: 5px;
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
    font-size: 18px;
}

.bendahara-detail__head,
.absen-new__head {
    width: 100%;
    margin-bottom: 10px;
}

.bendahara-detail__head-group,
.absen-new__head-group {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.publikasi__head {
    margin-bottom: 30px;
}

.publikasi__body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.publikasi__card {
    width: 350px;
    height: 370px;
    border: #000000 solid 1px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.publikasi__card:hover img {
    transform: scale(1.1);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: 500ms ease-out;
    cursor: pointer;
}

.publikasi__image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.publikasi__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 500ms ease-in;
    cursor: pointer;
}

.publikasi__card-body {
    width: 100%;
    padding: 15px;
}

.publikasi__card-desc {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    cursor: pointer;
}

.publikasi__card-desc:hover {
    text-decoration: underline;
}

.publikasi-detail__button {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.input-textarea {
    width: 100%;
    height: 60px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid #000000;
    margin: 0;
}

.input-file {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid #000000;
}

.button-success-disabled {
    background-color: #28a745;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    opacity: 40%;
    color: white;
    text-decoration: none;
    cursor: not-allowed;
    border: none;
    margin-right: 10px;
}

.publikasi-new__preview-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.publikasi-new__preview-image img {
    width: auto;
    height: 300px;
}

.publikasi-detail__image {
    width: 100%;
    margin-top: 30px;
}

.publikasi-detail__image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.grid-item {
    position: relative;
    margin: 10px;
}

.publikasi-detail__title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.anggota-detail__group,
.peminjaman-detail__group {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.anggota-detail__group p,
.peminjaman-detail__group p {
    color: #6c757d;
}

.peminjaman-pdf__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.peminjaman-pdf__card {
    width: 612px;
    height: 842px;
    background-color: #ffffff;
    margin-top: 50px;
}

.peminjaman-pdf__title {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.peminjaman-pdf__desc {
    width: 450px;
    margin-left: 5px;
    text-align: justify;
    line-height: 1.2;
}

.peminjaman-pdf__footer {
    display: flex;
    justify-content: space-evenly;
}

.peminjaman-pdf__footer-body {
    text-align: center;
}

.notulen-new__input-textarea {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid #000000;
}

.notulen-new__group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notulen-detail__container p {
    font-size: 17px;
}

.notulen-detail__head {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.notulen-detail__head-title {
    width: 400px;
    text-align: center;
}

.notulen-detail__title {
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.notulen-detail__desc {
    width: 570px;
    margin-left: 5px;
    text-align: justify;
}

.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: start;
}

.status-in-column,
.status-success {
    width: 100px;
    border-radius: 10px;
    padding: 3px 0 3px 0;
    background-color: #28a745;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-out-column,
.status-danger {
    width: 100px;
    border-radius: 10px;
    padding: 3px 0 3px 0;
    background-color: #dc3545;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    color: red;
    font-size: 15px;
}
